// Base styles
// --------------------------------------------------
// primary Button style
// --------------------------------------------------
.btn-primary {
    border-color: $btn-primary-border;
    background-color: $btn-primary-bg;
    padding: 10px 20px;
    min-width: 90px;
    white-space: nowrap;
    font-size: 14px;
    font-family: $font-family-helvetica-medium;
    border-radius: 6px;
    color: $btn-primary-color;
    &:hover, &:focus, &.focus {
        color: $btn-primary-hover-color;
        text-decoration: none;
        background-color: $btn-primary-hover-bg;
        border-color: $btn-primary-hover-border;
    }
    &:active,
    &.active {
        outline: 0;
        color: $btn-primary-hover-color;
        background-color: $btn-primary-active-bg;
        border-color: $btn-primary-active-border;
    }
}
// secondary Button style
// --------------------------------------------------
.btn-secondary {
    border-color: $btn-secondary-border !important;
    background-color: $transparent-base;
    padding: 10px 20px;
    min-width: 90px;
    white-space: nowrap;
    font-size: 14px;
    font-family: $font-family-helvetica-medium;
    border-radius: 6px;
    color: $btn-secondary-color;
    &:hover, &:focus, &.focus {
        color: $btn-secondary-hover-color;
        text-decoration: none;
        background-color: $btn-secondary-hover-bg;
        border-color: $btn-secondary-hover-border;
    }
    &:active,
    &.active {
        outline: 0;
        color: $btn-secondary-hover-color;
        background-color: $btn-secondary-active-bg;
        border-color: $btn-secondary-active-border;
    }
}
// primary Button style on Dark Background
// --------------------------------------------------
.btn-dark-primary {
    border-color: $btn-dark-primary-border;
    background-color: $btn-dark-primary-bg;
    padding: 10px 20px;
    min-width: 90px;
    white-space: nowrap;
    border-style: solid;
    font-size: 14px;
    font-family: $font-family-helvetica-medium;
    border-radius: 6px;
    color: $btn-dark-primary-color;
    &:hover, &:focus, &.focus {
        color: $btn-dark-primary-hover-color;
        text-decoration: none;
        background-color: $btn-dark-primary-hover-bg;
        border-color: $btn-dark-primary-hover-border;
    }
    &:active,
    &.active {
        outline: 0;
        color: $btn-dark-primary-hover-color;
        background-color: $btn-dark-primary-active-bg;
        border-color: $btn-dark-primary-hover-border;
    }
}
// Secondary Button style on Dark Background
// --------------------------------------------------
.btn-dark-secondary {
    border-color: $btn-dark-secondary-border;
    background-color: $btn-dark-secondary-bg;
    padding: 10px 20px;
    min-width: 90px;
    white-space: nowrap;
    font-size: 14px;
    font-family: $font-family-helvetica-medium;
    border-radius: 6px;
    color: $btn-dark-secondary-color;
    &:hover, &:focus, &.focus {
        color: $btn-dark-secondary-hover-color;
        text-decoration: none;
        background-color: $btn-dark-secondary-hover-bg;
        border-color: $btn-dark-secondary-hover-border;
    }
    &:active,
    &.active {
        outline: 0;
        color: $btn-dark-secondary-hover-color;
        background-color: $btn-dark-secondary-active-bg;
        border-color: $btn-dark-secondary-active-border;
    }
}
// link style  on dark BG
// --------------------------------------------------
.link-primary {
    font-size: 14px;
    font-family: $font-family-helvetica-medium;
    color: $link-color;
    font-weight: bold;
    cursor: pointer;
    &:hover, &:focus, &.focus {
        color: $link-hover-color;
        text-decoration: underline;
    }
    &:active,
    &.active {
        outline: 0;
        color: $link-active-color;
        text-decoration: underline;
    }
    &:visited {
        color: $link-color;
    }
}
// link style  with icon button
.link-icon-primary {
    font-size: 12px;
    color: $link-color;
    font-family: $font-family-helvetica-medium;
    cursor: pointer;
    .icon-jbh_add {
        font-size: 24px;
        vertical-align: middle;
    }
    &:hover,
    &:focus,
    &.focus {
        color: $link-hover-color;
        text-decoration: none;
    }
    &:active,
    &.active {
        outline: 0;
        color: $link-active-color;
        text-decoration: none;
    }
    &:visited {
        color: $link-color;
    }
}
.link-icon-secondary {
    font-size: 14px;
    color: $gray-darker;
    font-family: $font-family-helvetica-medium;
    cursor: pointer;
    .icon-jbh_add {
        font-size: 24px;
        vertical-align: middle;
        color: $gray-darker
    }
    &:hover,
    &:focus,
    &.focus {
        color: $gray-base;
        text-decoration: none;
    }
    &:active,
    &.active {
        outline: 0;
        color: $gray-darker;
        text-decoration: none;
    }
    &:visited {
        color: $gray-darker;
    }
}
// primary Button Group style
// --------------------------------------------------
.btn-group-primary {
    border-color: $btn-group-border;
    background-color: $btn-group-bg;
    padding: 10px 20px;
    min-width: 90px;
    white-space: nowrap;
    font-size: 14px;
    font-family: $font-family-helvetica-roman;
    border-radius: 6px;
    box-shadow: inset 0 0 0px #000000 !important;
    color: $btn-group-color;
    @include border-width(1px);
    &:hover{
        color: $btn-group-hover-color;
        text-decoration: none;
        background-color: $btn-group-hover-bg;
        border-color: $btn-group-hover-border;
    }
    &:active,
    &.active,&.active:hover,&:focus, &.focus {
        outline: 0;
        color: $btn-group-active-color;
        background-color: $btn-group-active-bg;
        border-color: $btn-group-active-border;
        box-shadow: inset 0 0 0px #000000 !important;
        
    }
}
// Icon Button 
// --------------------------------------------------
.btn-icon-default {
    border: none;
    background: transparent;
}
.btn-icon-gray {
    @extend .btn-icon-default;
    color: #6f6f6f;
}
.btn-icon-white {
    @extend .btn-icon-default;
    color: #fff;
}
.btn-icon {
    border: none;
    background: transparent;
    font-size: 26px;
    color: #999;
}
.btn-tag {
    background-color: $white-base;
    border-radius: 12px;
    cursor: pointer;
    padding: 5px;
    color: $gray-base;
}
// primary Toggle Button 
// --------------------------------------------------
.jbh-toggle {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    .jbh-toggle-checkbox {
        display: none;
    }
    .jbh-toggle-label {
        display: inline-block !important;
        overflow: hidden;
        cursor: pointer;
        border-radius: 20px;
        width: 50px;
        position: relative;
    }
    .jbh-toggle-inner {
        display: block;
        width: 200%;
        margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
        &:before, &:after {
            display: block;
            float: left;
            width: 50%;
            height: 24px;
            padding: 0;
            line-height: 30px;
            font-size: 14px;
            color: white;
            box-sizing: border-box;
        }
        &:before {
            content: "";
            padding-left: 10px;
            background-color: #236093;
            color: #FFFFFF;
        }
        &:after {
            content: "";
            padding-left: 10px;
            background-color: #C9C9C9;
            color: #999999;
        }
    }
    .jbh-toggle-switch {
        display: block;
        width: 22px;
        height: 22px;
        margin: 1px;
        background: #FFFFFF;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 26px;
        border-radius: 20px;
        transition: all 0.3s ease-in 0s;
        box-shadow: 1px 2px 7px #444;
    }
    .jbh-toggle-checkbox:checked + .jbh-toggle-label .jbh-toggle-inner {
        margin-left: 0;
    }
    .jbh-toggle-checkbox:checked + .jbh-toggle-label .jbh-toggle-switch {
        left: 26px;
        transition: all 0.3s ease-in 0s;
    }
    .jbh-toggle-checkbox:checked ~ .offText {
        color: #939393;
    }
    .jbh-toggle-checkbox:checked ~ .onText {
        color: #236093;
    }
    .jbh-toggle-checkbox:not(:checked) ~ .offText {
        color: #444444;
    }
    .jbh-toggle-checkbox:not(:checked) ~ .onText {
        color: #939393;
    }
    .jbh-toggle-checkbox:checked + .jbh-toggle-label:hover ~ .offText {
        color: #939393;
    }
    .jbh-toggle-checkbox:checked + .jbh-toggle-label:hover ~ .onText {
        color: #5FA8E6;
    }
    .jbh-toggle-checkbox:checked + .jbh-toggle-label:hover .jbh-toggle-inner {
        background-color: #5FA8E6;
    }
    .jbh-toggle-checkbox:not(:checked) + .jbh-toggle-label:hover ~ .offText {
        color: #5FA8E6;
    }
    .onoffswitch-checkbox:not(:checked) + .jbh-toggle-label:hover ~ .onText {
        color: #939393;
    }
}
.offText {
    position: relative;
    right: 25px;
    bottom: 26px;
}
.onText {
    position: relative;
    left: 37px;
    bottom: 25px;
}
.radioLabel {
    position: relative;
    left: 60px;
    bottom: 24px;
}
// Toggle Button 
// --------------------------------------------------
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 13px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 8px;
}
input:checked + .slider {
    background-color: cornflowerblue;
}
input:focus + .slider {
    box-shadow: 0 0 1px cornflowerblue;
}
input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}
.toggleLabel {
    font-size: 12px;
    line-height: 18px;
    margin: 0 5px;
    color: grey;
    display: inline;
}

.btn-link {
  color: #236093;
  border: 0px;
  &:active:hover,
  {
    color: #2B313D;
    border: 0px;
  }
  &:active,
  {
    color: #2B313D;
    border-color: red;
  }
  &:hover
  {
    color: #3594D5;
    border: 0px;
  }
  &:visited {
    color: #236093;
    border: 0px;
  }
}