//
// Popovers
// --------------------------------------------------

.popover {
 	max-width: none !important;
    min-width: 50px !important;
    width: auto;
	padding:0px;
	z-index: 9999999 !important;
    .popover-content{
    	padding:10px;
    	.form-group {
    	  	.row{
    			padding:10px 0px !important;
    			label{
    					color:$gray-darker !important;
    					font-size:14px !important;	
    				 }
    	}
    	
    }
}

}