<div class="pad10">
	<h3 class="noMarginStyle">
		Forgot Password
	</h3>
</div>
<div class="row pad10">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-body fixed-panel">
				<form>
					<div class="row paddingTopBottom">
						<div class="col-sm-12 float-label">
							<input #userName type="text" class="form-control" id="userName" placeholder="User Name"
									formControlName="userName">
							<label for="userName">User Name</label>
						</div>
					</div>
				</form>
			</div>
			<div class="panel-footer">
				<div class="row">
					<div class="col-sm-12">
						<button class="btn" (click)="onSubmitClick($event)">
							Submit
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
