// JBHunt Wizard style
.jbh-step-wizard-nav {
    border: 1px solid #C9C9C9;
    border-radius: 6px;
    margin-top: 20px;
    background: $white-base;
    .nav-tabs {
        border: none;
        display: table;
        width: 100%;
        overflow: hidden;
        li {
            display: table-cell;
            float: none;
            &:hover {
                background-color: transparent;
            }
            a {
                background: transparent;
                border: none;
                display: block;
                text-align: left;
                color: #939393;
                padding-left: 20px;
                font-size: 14px;
                font-family: $font-family-helvetica-medium;
                padding-right: 26px;
                span.step-number {
                    border: 2px solid #939393;
                    border-radius: 20px;
                    height: 25px;
                    font-size: 14px;
                    font-family: $font-family-proxima;
                    font-weight: 600;
                    margin-right: 10px;
                    width: 25px;
                    display: inline-block;
                    text-align: center;
                }
                &.active {
                    color: #236093;
                    color: $brand-primary;
                    span.step-number {
                        border: 2px solid #236093;
                        border-radius: 20px;
                        height: 25px;
                        font-size: 14px;
                        font-family: $font-family-proxima;
                        font-weight: 600;
                        margin-right: 10px;
                        width: 25px;
                        display: inline-block;
                        text-align: center;
                    }
                    &:hover {
                        background-color: transparent;
                    }
                }
                &.visited {
                    background: #F9F9F9;
                    border: none;
                    display: block;
                    text-align: left;
                    color: #444444;
                    padding-left: 20px;
                    font-size: 12px;
                    font-family: $font-family-helvetica-medium;
                    padding-right: 26px;
                    color: #444444;
                    &::after {
                        background: #F9F9F9;
                    }
                    span.step-number {
                        border: 2px solid #444444;
                        border-radius: 20px;
                        height: 25px;
                        font-size: 14px;
                        font-family: $font-family-proxima;
                        font-weight: 600;
                        margin-right: 10px;
                        width: 25px;
                        display: inline-block;
                        text-align: center;
                    }
                }
                &:hover {
                    background: $white-base;
                    border: none;
                }
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 5px;
                    bottom: 0px;
                    right: 5px;
                    width: 33px;
                    height: 33px;
                    background: $white-base;
                    border-right: 1px solid #CAD5E0;
                    border-bottom: 1px solid #CAD5E0;
                    -moz-transform: rotate(-45deg);
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }
                span.step-number {
                    border: 2px solid #ccc;
                    border-radius: 50px;
                    padding: 2px 6px;
                }
            }
        }
        li:last-of-type {
            a:after {
                border: none;
            }
        }
    }
}
// JBHunt Custom tab for overlay
.tab-custom-nav {
    width: 100%;
    .nav-tabs {
        background-color: #fff;
        border: none;
        width: 100%;
        display: table;
        table-layout: fixed;
        > li {
            float: none;
            width: auto;
            display: table-cell;
            margin-bottom: -1px;
            border-radius: 0px;
            > a {
                line-height: 2.5em;
                margin: 0px 5px;
                padding-left: 10px;
                padding-right: 10px;
                border: none;
                border-radius: 0px;
                &:hover {
                    border-color: #006699;
                    background-color: #fff;
                }
                .icon {
                    font-size: 24px;
                    color: #999;
                }
            }
            &.active > a {
                &, &:hover, &:focus {
                    color: #236093;
                    background-color: #fff;
                    border: none;
                    border-bottom-color: transparent;
                    cursor: default;
                }
                .icon {
                    color: #00345D;
                }
            }
        }
    }
}