<div class="row pad10">
    <div class="col-xs-12">
        <form id="tourPlannerForm" [formGroup] ="tourPlannerForm">
            <div class="row">
                <div class="col-xs-12">
                <label for="from">From:</label>
                <input #from class="form-control" type="text" class="form-control" name="from" id="from" required />
              </div>
            </div>
            <div class="row pad-top10">
                <div class="col-xs-12">
                <label>To:</label>
                <input class="form-control" type="text" class="form-control" name="to" required />
              </div>
            </div>
            <div class="row pad-top10">
                <div class="col-xs-12">
                <label>Mode of travel:</label>
                <input class="form-control" type="text" class="form-control" name="modeOfTravel" required />
              </div>
            </div>
            <div class="row pad-top10">
                <div class="col-xs-12">
                <label>Date of Journey:</label>
                <input class="form-control" type="date" class="form-control" name="dateOfJourney" required />
              </div>
            </div>
            <div class="row pad-top10">
                <div class="col-xs-12">
                  <button class="btn btn-success">Plan</button>
                  <button class="btn btn-danger">Cancel</button>
              </div>
            </div>
        </form>
    </div>
</div>