.headerStyle {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 40px;
    width: 100%;
    padding: 10px 10px 10px 15px;
    font-size: 24px;
    font-family: monospace;
    font-weight: bold;
    color: #ffffff;
    border-bottom: 1px solid #ddd;
    background-color: #30B466;
}