.headerStyle {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    background-image: url('app_transit/assets/images/headerLogo.png');
    background-position: left;
    background-size: 30%;
    background-repeat: no-repeat;
    background-color: #30B466;
}