.dropdown-menu {
  .arrow.bottom-right{
  		bottom: -7px;
	    right: 5px;
	    position: absolute;
	    border-top: solid 7px #999;
	    border-left: solid 7px transparent;
	    border-right: solid 7px transparent;
  	}
  	.arrow.bottom-right:after{
	    bottom: 1px;
	    content: "";
	    right: -7px;
	    position: absolute;
	    border-top: solid 7px #fff;
	    border-left: solid 7px transparent;
	    border-right: solid 7px transparent;
  	}
  	
  	.arrow.top-right{
  		top: -7px;
	    right: 5px;
	    position: absolute;
	    border-bottom: solid 7px #999;
	    border-left: solid 7px transparent;
	    border-right: solid 7px transparent;
  	}
  	.arrow.top-right:after{
	    top: 1px;
	    content: "";
	    right: -7px;
	    position: absolute;
	    border-bottom: solid 7px #fff;
	    border-left: solid 7px transparent;
	    border-right: solid 7px transparent;
  	}
 }